body {
  margin: 0;
  background-color: #092241;
  overflow-x: hidden;
}

/* Header */

#brand-img {
  height: 2rem;
}

.grid-container {
  background-color: lightgray; /* temp */
  height: 60px;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-template-columns: fit-content(100%) 1fr fit-content(30%) fit-content(30%) fit-content(30%);
  grid-template-rows: 1fr;
  grid-template-areas: 'brand blank link link link';
}

.grid-item {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: red; /* temp */
  align-self: center;
  margin: 1rem;
}

.brand {
  height: 2rem;
}

.carousel-container ul {
  width: 100vw - 40px;
  height: 300px;
  padding: 0;
  display: flex;
  gap: 4vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  /* Makes scrollbar invisible in IE, Edge Firefox Barra de rolagem invisível*/
  scrollbar-width: none;
}

.carousel-container ul::-webkit-scrollbar {
  /* Makes scrollbar invisible in Chrome, Safari Barra de rolagem invisível*/
  display: none;
}

.carousel-item {
  list-style-type: none;
  background-color: #eee;
  flex: 0 0 100%;
  scroll-snap-align: center;
}

.carousel-item:nth-child(even) {
  background-color: cyan;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}

.scroll-btn.left {
  left: 10px;
}

.scroll-btn.right {
  right: 10px;
}

/* .scroll-btn:active {
  translate: 1px 1px;
}

.scroll-btn:disabled {
  color: rgb(0 0 0 / 0.2);
  cursor: unset;
} */

@supports ((anchor-name: --myCarousel) and (position-anchor: --myCarousel)) {
/* Carrossel abaixo */

  .scroll-btn {
    display: none;
  }

  .carousel-container ul {
    anchor-name: --myCarousel;
  }

  .carousel-container ul::scroll-button(*) {
    border: 0;
    font-size: 2rem;
    background: none;
    color: rgb(0 0 0 / 0.7);
    cursor: pointer;
    position:absolute;
    position-anchor: --myCarousel;
  }

  .carousel-container ul::scroll-button(*):hover,
  .carousel-container ul::scroll-button(*):focus {
    color: rgb(0 0 0 / 1);
  }

  .carousel-container ul::scroll-button(*):active {
    translate: 1px 1px;
  }

  .carousel-container ul::scroll-button(*):disabled {
    color: rgb(0 0 0 / 0.2);
    cursor: unset;
  }

  .carousel-container ul::scroll-button(left) {
    content: "◄";
    right: calc(anchor(left) - 70px);
    bottom: calc(anchor(bottom) + 150px);
  }

  .carousel-container ul::scroll-button(right) {
    content: "►";
    left: calc(anchor(right) - 70px);
    bottom: calc(anchor(bottom) + 150px);
  }

}

@media (min-width: "720px") {
  
}